<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siêu thị điện máy Pico</title>
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./font/css/all.css">
    <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/owl.theme.default.min.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/account.css">
    <link rel="stylesheet" href="./css/cart.css">
    <link rel="stylesheet" href="./css/category.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/product.css">
    <link rel="stylesheet" href="./css/search.css">
    <link rel="stylesheet" href="./css/success.css">
    <script src="./js/jquery-3.6.4.js"></script>
    <script src="./js/bootstrap.js"></script> 
</head>

<body>
    <div id="search-page">
        <div class="container">
            <div id="global-search">
                <a href="./index.html">Trang chủ</a> / <a href=""> <b>Tìm kiếm "iphone"</b></a>
            </div>
            <!-- Banner Bottom  -->
            <div id="banner-bottom" class="row">
                <div class="banner-bottom-item banner-hover col-lg-4 col-md-4 col-sm-12">
                    <a href=""><img class="img-fluid" src="./images/banner_right_6.png" alt=""></a>
                </div>
                <div class="banner-bottom-item banner-hover col-lg-4 col-md-4 col-sm-12">
                    <a href=""><img class="img-fluid" src="./images/banner_right_4.png" alt=""></a>
                </div>
                <div class="banner-bottom-item banner-hover col-lg-4 col-md-4 col-sm-12">
                    <a href=""><img class="img-fluid" src="./images/banner_right_5.png" alt=""></a>
                </div>
            </div>
            <!-- End Banner Bottom  -->
            <!-- ======================Product Hot =======================  -->
            <div id="product-hot-group">
                <h3><span>SẢN PHẨM HOT</span></h3>
                <div id="product-hot-main">
                    <div class="product-main-slide">
                        <div class="product-main-inner card-deck owl-carousel owl-theme">
                            <div class="product-item item card">
                                <a class="product-item-t" href="">
                                    <img class="product-item-t-img img-fluid" src="./images/product-hot-1.png" alt="">
                                    <i></i>
                                    <span></span>
                                </a>
                                <div class="product-item-b">
                                    <p><a href="">Tivi Qled Samsung QA55Q60BAKXXV 55" 4K Ultra HD</a></p>
                                    <div class="product-item-b-g">
                                        <div>
                                            <span>15.700.000đ</span>
                                            <del>22.900.000đ</del>
                                        </div>
                                        <span class="discount">-32%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item item card">
                                <a class="product-item-t" href="">
                                    <img class="product-item-t-img img-fluid" src="./images/product-hot-2.png" alt="">
                                    <i></i>
                                    <span></span>
                                </a>
                                <div class="product-item-b">
                                    <p><a href="">Máy Giặt Electrolux EWF9024P5WB 9.0kg</a></p>
                                    <div class="product-item-b-g">
                                        <div>
                                            <span>9.690.000đ</span>
                                            <del>12.190.000đ</del>
                                        </div>
                                        <span class="discount">-21%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item item card">
                                <a class="product-item-t" href="./product.html">
                                    <img class="product-item-t-img img-fluid" src="./images/product-hot-3.png" alt="">
                                    <i></i>
                                    <span></span>
                                </a>
                                <div class="product-item-b">
                                    <p><a href="./product.html">Laptop HP P15-EG0513TU (46M12PA) Core i3-1125G4</a></p>
                                    <div class="product-item-b-g">
                                        <div>
                                            <span>10.999.000đ</span>
                                            <del>10.999.000đ</del>
                                        </div>
                                        <span class="discount">-0%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item item card">
                                <a class="product-item-t" href="">
                                    <img class="product-item-t-img img-fluid" src="./images/product-hot-4.png" alt="">
                                    <i></i>
                                    <span></span>
                                </a>
                                <div class="product-item-b">
                                    <p><a href="">Điện Thoại Samsung S22+ (Snap8 Gen1/8GB/128GB) </a></p>
                                    <div class="product-item-b-g">
                                        <div>8.390.000đ</span>
                                            <del>10.990.000đ</del>
                                        </div>
                                        <span class="discount">-24%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item item card">
                                <a class="product-item-t" href="">
                                    <img class="product-item-t-img img-fluid" src="./images/product-hot5.png" alt="">
                                    <i></i>
                                    <span></span>
                                </a>
                                <div class="product-item-b">
                                    <p><a href="">TrắngTủ Lạnh LG GN-M312PS 315 Lít Inverter Màu Bạc</a></p>
                                    <div class="product-item-b-g">
                                        <div>
                                            <span>17.990.000đ</span>
                                            <del>25.900.000đ</del>
                                        </div>
                                        <span class="discount">-31%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item item card">
                                <a class="product-item-t" href="">
                                    <img class="product-item-t-img img-fluid" src="./images/product-hot-6.png" alt="">
                                    <i></i>
                                    <span></span>
                                </a>
                                <div class="product-item-b">
                                    <p><a href="">Điện Thoại Samsung S22 Ultra (Snap8 Gen1/8GB/128GB) Đỏ Tía</a></p>
                                    <div class="product-item-b-g">
                                        <div>
                                            <span>18.990.000đ</span>
                                            <del>30.990.000đ</del>
                                        </div>
                                        <span class="discount">-39%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item item card">
                                <a class="product-item-t" href="">
                                    <img class="product-item-t-img img-fluid" src="./images/product-hot-7.png" alt="">
                                    <i></i>
                                    <span></span>
                                </a>
                                <div class="product-item-b">
                                    <p><a href="">Laptop HP ENVY 13-ba1536TU 4U6M5PA Core i5-1135G7</a></p>
                                    <div class="product-item-b-g">
                                        <div>
                                            <span>20.999.000đ</span>
                                            <del>22.909.000đ</del>
                                        </div>
                                        <span class="discount">-9%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item item card">
                                <a class="product-item-t" href="">
                                    <img class="product-item-t-img img-fluid" src="./images/product-hot-8.png" alt="">
                                    <i></i>
                                    <span></span>
                                </a>
                                <div class="product-item-b">
                                    <p><a href="">Lò Vi Sóng Electrolux EMG23K38GB 23L Có Nướng</a></p>
                                    <div class="product-item-b-g">
                                        <div>
                                            <span>1.999.000đ</span>
                                            <del>2.999.000đ</del>
                                        </div>
                                        <span class="discount">-34%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item item card">
                                <a class="product-item-t" href="">
                                    <img class="product-item-t-img img-fluid" src="./images/product-hot-9.png" alt="">
                                    <i></i>
                                    <span></span>
                                </a>
                                <div class="product-item-b">
                                    <p><a href="">Loa Soundbar Sony HT-S100F//C SP1</a></p>
                                    <div class="product-item-b-g">
                                        <div>
                                            <span>2.490.000đ</span>
                                            <del>3.990.000đ</del>
                                        </div>
                                        <span class="discount">-38%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item item card">
                                <a class="product-item-t" href="">
                                    <img class="product-item-t-img img-fluid" src="./images/product-hot-10.png" alt="">
                                    <i></i>
                                    <span></span>
                                </a>
                                <div class="product-item-b">
                                    <p><a href="">Bình tắm gián tiếp FERROLI QQ Evo 20AE - EH</a></p>
                                    <div class="product-item-b-g">
                                        <div>
                                            <span>2.499.000đ</span>
                                            <del>3.290.000đ</del>
                                        </div>
                                        <span class="discount">-25%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="view-all" href="">XEM TẤT CẢ</a>
                </div>
            </div>
            <!--==================== End Product Hot ====================== -->
            <!-- =================================< Category >============================ -->
            <div class="row">
                <div id="search-page-l" class="col-lg-9 col-md-9 col-sm-12 mx-auto">
                    <h3>103 sản phẩm được tìm thấy theo "iphone"</h3>
                    <div class="product-main-inner card-deck">
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-1.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Tivi Qled Samsung QA55Q60BAKXXV 55" 4K Ultra HD</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>15.700.000đ</span>
                                        <del>22.900.000đ</del>
                                    </div>
                                    <span class="discount">-32%</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-1.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Tivi Qled Samsung QA55Q60BAKXXV 55" 4K Ultra HD</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>15.700.000đ</span>
                                        <del>22.900.000đ</del>
                                    </div>
                                    <span class="discount">-32%</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-1.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Tivi Qled Samsung QA55Q60BAKXXV 55" 4K Ultra HD</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>15.700.000đ</span>
                                        <del>22.900.000đ</del>
                                    </div>
                                    <span class="discount">-32%</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-1.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Tivi Qled Samsung QA55Q60BAKXXV 55" 4K Ultra HD</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>15.700.000đ</span>
                                        <del>22.900.000đ</del>
                                    </div>
                                    <span class="discount">-32%</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-1.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Tivi Qled Samsung QA55Q60BAKXXV 55" 4K Ultra HD</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>15.700.000đ</span>
                                        <del>22.900.000đ</del>
                                    </div>
                                    <span class="discount">-32%</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-6.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Điện Thoại Samsung S22 Ultra (Snap8 Gen1/8GB/128GB) Đỏ Tía</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>18.990.000đ</span>
                                        <del>30.990.000đ</del>
                                    </div>
                                    <span class="discount">-39%</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-6.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Điện Thoại Samsung S22 Ultra (Snap8 Gen1/8GB/128GB) Đỏ Tía</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>18.990.000đ</span>
                                        <del>30.990.000đ</del>
                                    </div>
                                    <span class="discount">-39%</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-6.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Điện Thoại Samsung S22 Ultra (Snap8 Gen1/8GB/128GB) Đỏ Tía</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>18.990.000đ</span>
                                        <del>30.990.000đ</del>
                                    </div>
                                    <span class="discount">-39%</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-6.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Điện Thoại Samsung S22 Ultra (Snap8 Gen1/8GB/128GB) Đỏ Tía</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>18.990.000đ</span>
                                        <del>30.990.000đ</del>
                                    </div>
                                    <span class="discount">-39%</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-6.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Điện Thoại Samsung S22 Ultra (Snap8 Gen1/8GB/128GB) Đỏ Tía</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>18.990.000đ</span>
                                        <del>30.990.000đ</del>
                                    </div>
                                    <span class="discount">-39%</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-6.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Điện Thoại Samsung S22 Ultra (Snap8 Gen1/8GB/128GB) Đỏ Tía</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>18.990.000đ</span>
                                        <del>30.990.000đ</del>
                                    </div>
                                    <span class="discount">-39%</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-6.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Điện Thoại Samsung S22 Ultra (Snap8 Gen1/8GB/128GB) Đỏ Tía</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>18.990.000đ</span>
                                        <del>30.990.000đ</del>
                                    </div>
                                    <span class="discount">-39%</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-6.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Điện Thoại Samsung S22 Ultra (Snap8 Gen1/8GB/128GB) Đỏ Tía</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>18.990.000đ</span>
                                        <del>30.990.000đ</del>
                                    </div>
                                    <span class="discount">-39%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="search-page-r" class="col-lg-3 col-md-3 col-sm-12 mx-auto">
                    <h3>GIÁ BÁN</h3>
                    <div id="filter-list">
                        <a href="./search_filter.html"><span class="icon-square"></span><span>Dưới 1 triệu</span></a>
                        <a href="./search_filter.html"><span class="icon-square"></span><span>10 triệu - 20 triệu</span></a>
                        <a href="./search_filter.html"><span class="icon-square"></span><span>Trên 40 triệu</span></a>
                        <a href="./search_filter.html"><span class="icon-square"></span><span>1 triệu - 5 triệu</span></a>
                        <a href="./search_filter.html"><span class="icon-square"></span><span>20 triệu - 40 triệu</span></a>
                    </div>
                </div>

            </div>
            <!-- =================================< End Category >========================= -->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="./js/owl.carousel.min.js"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1.8,
                    nav: true
                },
                600: {
                    items: 2.5,
                    nav: false
                },
                1000: {
                    items: 5,
                    nav: true,
                    loop: false
                }
            }
        })
    </script>
</body>

</html>