<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siêu thị điện máy Pico</title>
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./font/css/all.css">
    <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/owl.theme.default.min.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/account.css">
    <link rel="stylesheet" href="./css/cart.css">
    <link rel="stylesheet" href="./css/category.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/product.css">
    <link rel="stylesheet" href="./css/search.css">
    <link rel="stylesheet" href="./css/success.css">
    <script src="./js/jquery-3.6.4.js"></script>
    <script src="./js/bootstrap.js"></script> 
</head>

<body>
    <!-- Global Banner  -->
    <div id="global-banner">
        <a href=""><img class="img-fluid" src="./images/global-banner-1.png" alt=""></a>
    </div>
    <!-- End Global Banner  -->

    <!-- Header Top  -->
    <div id="header-top">
        <div class="container">
            <div class="row">
                <div id="header-top-left" class="col-lg-3 col-md-3 col-sm-12">
                    <a href="#"><i class="fa fa-map-marker"></i>Hệ thống siêu thị</a>
                </div>
                <div id="header-top-right" class="col-lg-9 col-md-9 col-sm-12">
                    <a href=""><i class="fa fa-newspaper"></i>Tin tức</a>
                    <a href=""><i class="fa fa-user"></i>Tuyển dụng</a>
                    <a href=""><i class="fa fa-file-alt"></i>Tra cứu hóa đơn VAT</a>
                    <a href=""><i class="fa fa-question-circle"></i>Hỗ trợ</a>
                    <a href=""><i class="fa fa-headphones"></i>Liên hệ</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top  -->

    <!-- Header Main  -->
    <div id="header-main">
        <div class="container">
            <div class="row">
                <div id="logo" class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <h1><a href="./index.html"><img class="img-fluid" src="./images/logo.png" alt=""></a></h1>
                </div>
                <div id="search" class="col-lg-5 col-md-6 col-sm-6 col-6">
                    <form method="post">
                        <input type="text" name="search" placeholder="Tìm kiếm">
                        <button type="submit" name="sbm"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div id="header-main-right" class="col-lg-4 col-md-3 col-sm-3 col-3">
                    <div id="follow">
                        <a href="#">Theo dõi<br>đơn hàng</a>
                    </div>
                    <div id="user">
                        <a href="./login.html">Đăng nhập</a>
                        <a href="./register.html">Đăng ký</a>
                    </div>
                    <a id="cart" href="#"><span>0</span></a>
                    <div id="header-mobile-right">
                        <label for="nav-mobile-input" id="menu-mobile-open">
                            <i class="fa fa-bars"></i>
                        </label>
                        <!-- <a id = "cart" href="#"><span>0</span></a> -->
                        <!--NAV Mobile-->
                        <input type="checkbox" name="" hidden class="menu-mobile-input" id="nav-mobile-input">
                        <div id="menu-mobile">
                            <div id="menu-mobile-t">
                                <label id="menu-mobile-close" for="nav-mobile-input">
                                    <i class="fa fa-times"></i>
                                    <span>Đóng</span>
                                </label>
                                <div id="menu-mobile-list">
                                    <div class="menu-mobile-list-item"><a href="">Ti vi</a></div>
                                    <div class="menu-mobile-list-item"><a href="">Điều hòa</a></div>
                                    <div class="menu-mobile-list-item"><a href="#">Tủ lạnh</a></div>
                                    <div class="menu-mobile-list-item"><a href="#">Máy giặt</a></div>
                                    <div class="menu-mobile-list-item"><a href="#">Hút ẩm, lọc khí</a></div>
                                    <div class="menu-mobile-list-item"><a href="#">Máy rửa bát</a></div>
                                    <div class="menu-mobile-list-item"><a href="#">Máy lọc nước</a></div>
                                    <div class="menu-mobile-list-item"><a href="#">Nồi cơm điện</a></div>
                                    <div class="menu-mobile-list-item"><a href="#">Bếp điện từ</a></div>
                                    <div class="menu-mobile-list-item"><a href="#">Lò vi sóng</a></div>
                                    <div class="menu-mobile-list-item"><a href="#">Máy Xay - Ép - Vắt</a></div>
                                    <div class="menu-mobile-list-item"><a href="#">Quạt mát</a></div>
                                    <div class="menu-mobile-list-item"><a href="#">Bình tắm nóng lạnh</a></div>
                                    <div class="menu-mobile-list-item"><a href="#">Đèn sưởi</a></div>
                                    <div class="menu-mobile-list-item"><a href="#">Điện thoại</a></div>
                                    <div class="menu-mobile-list-item"><a href="#">Laptop</a></div>
                                    <div class="menu-mobile-list-item"><a href="#">Máy tính để bàn</a></div>
                                    <div class="menu-mobile-list-item"><a href="#">Phụ kiện công nghệ</a></div>
                                </div>
                                <a href="">Xem tất cả nhóm hàng ></a>
                            </div>
                            <div id="menu-mobile-login">
                                <div id="account">
                                    <a href="./login.html">Đăng nhập</a>
                                    / <a href="./register.html">Đăng kí</a>
                                </div>
                            </div>
                            <div id="menu-mobile-m">
                                <h4>Bài viết & Tin khuyến mãi</h4>
                                <a href="">Thập kỷ thống lĩnh - Tuyệt đỉnh hội tụ: Mua Tivi LG nhận ngay quà đến 14.990
                                    triệu</a>
                                <a href="">CHÀO HÈ 2023, QUÉT VNPAY NHẬN ƯU ĐÃI LỚN</a>
                                <a href="">Sắm tủ lạnh Panasonic - Tặng ngay bộ nồi inox cao cấp trị giá 1,990,000đ</a>
                                <a href="">Cách tiết kiệm điện hiệu quả khi sử dụng các thiết bị điện cho gia đình</a>
                            </div>
                            <div id="menu-mobile-b">
                                <div class="menu-mobile-b-t">
                                    <a href="">DEAL HOT</a>
                                    <a href="">Khuyến mại</a>
                                    <a href="">Sản phẩm đã xem</a>
                                    <a href="">Theo dõi đơn hàng</a>
                                    <a href="">Gọi đặt mua: <span>1900.6619 - 0904.881169</span> (8h30 - 21h)</a>
                                </div>
                                <div class="menu-mobile-b-b">
                                    <a href=""><i class="fa fa-map-marker"></i><span>Xem hệ thống siêu thị</span></a>
                                    <a href=""><i class="fa fa-newspaper"></i><span>Ti tức</span></a>
                                    <a href=""><i class="fa fa-user"></i><span>Tuyển dụng</span></a>
                                    <a href=""><i class="fa fa-file-alt"></i><span>Tra cứu hóa đơn VAT</span></a>
                                    <a href=""><i class="fa fa-question-circle"></i><span>Hỗ trợ</span></a>
                                    <a href=""><i class="fa fa-headphones"></i><span>Liên hệ</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Main  -->

    <!-- Header Bottom  -->
    <div id="header-bottom">
        <div class="container">
            <div class="row justify-content-end">
                <div id="header-bottom-right" class="col-lg-9 col-md-9 col-sm-12">
                    <a href="">DEAL HOT</a>
                    <a href="">Khuyến mại</a>
                    <a href="">Sản phẩm đã xem</a>
                    <a href="">Gọi đặt mua: <span>1900.6619</span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Bottom  -->

    <!-- =================================< Search >============================ -->
    <div id="search-page">
        <div class="container">
            <div id="global-search">
                <a href="./index.html">Trang chủ</a> / <a href=""> <b>Tìm kiếm "iphone"</b></a>
            </div>
            <div class="row">
                <div id="search-page-l" class="col-lg-9 col-md-9 col-sm-12 mx-auto">
                    <h3>103 sản phẩm được tìm thấy theo "iphone"</h3>
                    <div class="product-main-inner card-deck">
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-1.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Tivi Qled Samsung QA55Q60BAKXXV 55" 4K Ultra HD</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>15.700.000đ</span>
                                        <del>22.900.000đ</del>
                                    </div>
                                    <span class="discount">-32%</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-1.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Tivi Qled Samsung QA55Q60BAKXXV 55" 4K Ultra HD</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>15.700.000đ</span>
                                        <del>22.900.000đ</del>
                                    </div>
                                    <span class="discount">-32%</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-1.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Tivi Qled Samsung QA55Q60BAKXXV 55" 4K Ultra HD</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>15.700.000đ</span>
                                        <del>22.900.000đ</del>
                                    </div>
                                    <span class="discount">-32%</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-1.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Tivi Qled Samsung QA55Q60BAKXXV 55" 4K Ultra HD</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>15.700.000đ</span>
                                        <del>22.900.000đ</del>
                                    </div>
                                    <span class="discount">-32%</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-1.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Tivi Qled Samsung QA55Q60BAKXXV 55" 4K Ultra HD</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>15.700.000đ</span>
                                        <del>22.900.000đ</del>
                                    </div>
                                    <span class="discount">-32%</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-6.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Điện Thoại Samsung S22 Ultra (Snap8 Gen1/8GB/128GB) Đỏ Tía</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>18.990.000đ</span>
                                        <del>30.990.000đ</del>
                                    </div>
                                    <span class="discount">-39%</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-6.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Điện Thoại Samsung S22 Ultra (Snap8 Gen1/8GB/128GB) Đỏ Tía</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>18.990.000đ</span>
                                        <del>30.990.000đ</del>
                                    </div>
                                    <span class="discount">-39%</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-6.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Điện Thoại Samsung S22 Ultra (Snap8 Gen1/8GB/128GB) Đỏ Tía</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>18.990.000đ</span>
                                        <del>30.990.000đ</del>
                                    </div>
                                    <span class="discount">-39%</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-6.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Điện Thoại Samsung S22 Ultra (Snap8 Gen1/8GB/128GB) Đỏ Tía</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>18.990.000đ</span>
                                        <del>30.990.000đ</del>
                                    </div>
                                    <span class="discount">-39%</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-6.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Điện Thoại Samsung S22 Ultra (Snap8 Gen1/8GB/128GB) Đỏ Tía</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>18.990.000đ</span>
                                        <del>30.990.000đ</del>
                                    </div>
                                    <span class="discount">-39%</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-6.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Điện Thoại Samsung S22 Ultra (Snap8 Gen1/8GB/128GB) Đỏ Tía</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>18.990.000đ</span>
                                        <del>30.990.000đ</del>
                                    </div>
                                    <span class="discount">-39%</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-6.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Điện Thoại Samsung S22 Ultra (Snap8 Gen1/8GB/128GB) Đỏ Tía</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>18.990.000đ</span>
                                        <del>30.990.000đ</del>
                                    </div>
                                    <span class="discount">-39%</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item item card">
                            <a class="product-item-t" href="">
                                <img class="product-item-t-img img-fluid" src="./images/product-item-fridge-6.png"
                                    alt="">
                                <span></span>
                            </a>
                            <div class="product-item-b">
                                <p><a href="">Điện Thoại Samsung S22 Ultra (Snap8 Gen1/8GB/128GB) Đỏ Tía</a></p>
                                <div class="product-item-b-g">
                                    <div>
                                        <span>18.990.000đ</span>
                                        <del>30.990.000đ</del>
                                    </div>
                                    <span class="discount">-39%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="search-page-r" class="col-lg-3 col-md-3 col-sm-12 mx-auto">
                    <h3>GIÁ BÁN</h3>
                    <div id="filter-list">
                        <a href="./search_filter.html"><span class="icon-square"></span><span>Dưới 1 triệu</span></a>
                        <a href="./search_filter.html"><span class="icon-square"></span><span>10 triệu - 20 triệu</span></a>
                        <a href="./search_filter.html"><span class="icon-square"></span><span>Trên 40 triệu</span></a>
                        <a href="./search_filter.html"><span class="icon-square"></span><span>1 triệu - 5 triệu</span></a>
                        <a href="./search_filter.html"><span class="icon-square"></span><span>20 triệu - 40 triệu</span></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- =================================< End Search >========================= -->
    <!-- ====================================< FOOTER >========================== -->
    <div id="footer">
        <!-- Footer Top -->
        <div id="footer-top">
            <div class="container">
                <h3><i class="fa fa-paper-plane"></i><span> ĐĂNG KÍ NHẬN CHƯƠNG TRÌNH KHUYẾN MÃI !</span></h3>
                <div id="email">
                    <form action="" method="post">
                        <input type="text" placeholder="Email của bạn">
                    </form>
                    <i class="fa fa-envelope" onclick=""></i>
                </div>
            </div>
        </div>
        <!-- End Footer Top -->
        <!-- Footer Main -->
        <!-- Footer Main Top -->
        <div id="footer-main">
            <div class="container">
                <div class="footer-main-t">
                    <a class="footer-main-t-left">
                        <i class="fas fa-truck"></i>
                        <div class="footer-main-t-r">
                            <b> Vận chuyển</b>
                            <span>Miễn phí 200km</span>
                        </div>
                    </a>
                    <a class="footer-main-t-main">
                        <i class="fa fa-wallet"></i>
                        <div class="footer-main-t-r">
                            <b>Thanh toán COD</b>
                            <span>Thanh toán trực tiếp khi nhận hàng</span>
                        </div>
                    </a>
                    <a class="footer-main-t-right">
                        <i class="fas fa-exchange-alt"></i>
                        <div class="footer-main-t-r">
                            <b> Đổi trả hàng</b>
                            <span>Thời gian đổi trả hàng lên tới 30 ngày</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Footer Main Bottom -->
            <div class="footer-main-b">
                <div class="container">
                    <div class="row">
                        <!-- 1 -->
                        <div class="footer-main-b-it-1 col-lg-3 col-md-6 col-sm-12">
                            <h3><a href=""><img src="./images/logo.png" alt=""></a></h3>
                            <h4>Công ty cổ phần Pico</h4>
                            <ul>
                                <div class="footer-main-b-it-1-t">
                                    <li> <span>Tổng đài bán hàng</span> (8:30-21:00)</li>
                                    <li><i class="red fa fa-volume-control-phone"></i><a href=""><span>1900.6619</span>
                                            - <span>0904.881169</span></a></li>
                                    <li><a href=""><i class="red fa fa-envelope"></i>online@pico.com.vn</a></li>
                                </div>
                                <div class="footer-main-b-it-1-b">
                                    <li><a href=""><span>Tổng đài CSKH</span> (8:30-22:00) </a></li>
                                    <li><a href=""><i class="red fa fa-fax"></i><span>1900.6699</span></a></li>
                                    <li><a href=""><i class="red fa fa-envelope"></i>chamsockhachhang@pico.com.vn</a>
                                    </li>
                                </div>
                            </ul>
                            <div class="footer-main-b-media">
                                <a href=""><i class="fab fa-facebook"></i></a>
                                <a href=""><i class="fab fa-youtube"></i></a>
                                <a href=""><i class="fab fa-google-plus"></i></a>
                            </div>
                        </div>
                        <!-- 2 -->
                        <div class="footer-main-b-it-2 col-lg-3 col-md-6 col-sm-12">
                            <ul>
                                <li>
                                    <h4>Thông tin chung</h4>
                                </li>
                                <li><a href="">Giới thiệu hệ thống siêu thị</a></li>
                                <li><a href="">Tuyển dụng</a></li>
                                <li><a href="">Thẻ thành viên</a></li>
                                <li><a href="">Điểm bảo hành hãng</a></li>
                                <li><a href=""><i class="fa fa-map mr-1"></i>Hệ thống cửa hàng</a></li>
                                <li><a href=""><img class="img-fluid" src="./images/footer-main-b.png" alt=""></a></li>
                            </ul>
                        </div>
                        <!-- 3 -->
                        <div class="footer-main-b-it-3 col-lg-3 col-md-6 col-sm-12">
                            <ul>
                                <li>
                                    <h4><a href="">Hỗ trợ khách hàng</a></h4>
                                </li>
                                <li><a href="">Điều khoản sử dụng</a></li>
                                <li><a href="">Chính sách bảo mật</a></li>
                                <li><a href="">Chính sách vận chuyển</a></li>
                                <li><a href="">Chính sách bảo hành</a></li>
                                <li><a href="">Chính sách đổi hàng</a></li>
                                <li><a href="">Hướng dẫn mua hàng</a></li>
                                <li><a href="">Hướng dẫn thanh toán</a></li>
                                <li><a href="">Hướng dẫn sử dụng HĐĐT</a></li>
                                <li><a href="">Tra cứu hóa đơn VAT trước ngày 20/06/2022</a></li>
                            </ul>
                        </div>
                        <!-- 4 -->
                        <div class="footer-main-b-it-4 col-lg-3 col-md-6 col-sm-12">
                            <h4>Fanpage Facebook</h4>
                            <div class="link-follow"><a href=""><img class="img-fluid" src="./images/banner_right_4.png"
                                        alt=""></a></div>
                            <h4 class="method-pay">Phương thức thanh toán</h4>
                            <div class="group-icon">
                                <i class="fab fa-cc-visa"></i>
                                <i class="fab fa-paypal"></i>
                                <i class="fas fa-credit-card"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Main -->
        <!-- Footer Bottom  -->
        <div id="footer-bottom">
            <div class="container">
                © Công ty Cổ phần Pi Co. Văn phòng: Tầng 3, Tòa nhà Rivera Park, số 173 Xuân Thủy, Quận Cầu Giấy, Hà
                Nội.
                <br>
                Giấy phép ĐKKD số 0102018260 sở KHĐT Tp. Hà Nội cấp ngày 25/08/2006. Đăng ký thay đổi lần thứ 26, ngày
                20/09/2019.
            </div>
        </div>
        <!-- End Footer Bottom  -->
    </div>
    <!-- ==================================< END FOOTER >======================== -->
</body>

</html>