<div id="account-sidebar" class="col-lg-3 col-md-4 col-sm-12">
    <div id="account-sidebar-t">
         <i class="fas fa-user-circle"></i>
        <div class="account-sidebar-t-r">
            <span>Tài khoản</span>
            <b><%=full_name%></b>
        </div>
    </div>
    <div id="account-sidebar-b">
        <a href="/account-infor" class="account-sidebar-b-item"><div><i class="fas fa-user"></i>Thông tin tài khoản</div></a>
        <a href="/account-order" class="account-sidebar-b-item"><div><i class="fa fa-file-alt"></i>Quản lý đơn hàng</div></a>
        <a href="/account-password" class="account-sidebar-b-item"><div><i class="fas fa-lock"></i>Thay đổi mật khẩu</div></a>
        <a href="/logout" class="account-sidebar-b-item"><div><i class="fas fa-power-off"></i>Logout</div></a>
    </div>
</div>
